@page "/"
<AuthorizeView Roles="Admin">
    <Authorized>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>
<MudCarousel Class="mud-width-full" Style="height:400px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex flex-column align-items-center justify-content-center" style="height:100%">
            <MudImage src="https://i.postimg.cc/BnTCTvz9/home.jpg" style="width: 100%; height: auto;" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Secondary">
        <div class="d-flex flex-column align-items-center justify-content-center" style="height:100%">
            <MudImage src="https://i.postimg.cc/43wb0SZW/home2.jpg" style="width: 100%; height: auto;" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex flex-column align-items-center justify-content-center" style="height:100%">
            <MudImage src="https://www.incolmotos-yamaha.com.co/wp-content/uploads/2018/03/banner.png" style="width: 100%; height: auto;" />
        </div>
    </MudCarouselItem>
</MudCarousel>

<figure class="text-center m-2">
    <blockquote class="blockquote">
        <p>Por un viaje seguro, DinoTrack en el camino.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Alertas preventivas <cite title="Título fuente">DinoTrack</cite>
    </figcaption>
</figure>
<div class="row">
    <div class="col-sm-4">
        <div class="card m-4" style="width: 22rem; ">
            <img src="https://s5.gifyu.com/images/SR0so.gif" class="card-img-top" alt="..." style="width: 22rem; height: 25rem;">
            <div class="card-body">
                <h5 class="card-title">Dino Track</h5>
                <h6 class="card-subtitle mb-2 text-muted">Lo que viene en Dino Track</h6>
                <br />
                <p class="card-text">Dino Track se prepara, conoce el futuro de Dino Track, muchas más funcionalidades y mucho más para tí</p>
                <a href="https://www.canva.com/design/DAFtx2g3Kmo/uupWRlCisDinJGu8FyJtUQ/view?mode=prototype" target="_blank" class="btn btn-primary">Leer más...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card m-4" style="width: 22rem; ">
            <img src="https://cdnwordpresstest-f0ekdgevcngegudb.z01.azurefd.net/es/wp-content/uploads/2023/06/Rotacion-pico-y-placa-segundo-semestre-2023.jpg" class="card-img-top" alt="..." style="width: 22rem; height: 25rem;">
            <div class="card-body">
                <h5 class="card-title">Pico y placa</h5>
                <h6 class="card-subtitle mb-2 text-muted">recuerda el pico y placa en Medellín</h6>
                <br />
                <p class="card-text">Este será el nuevo pico y placa que regirá en medellín en el segundo semestre del 2023.</p>
                <a href="https://www.medellin.gov.co/es/secretaria-de-movilidad/pico-y-placa-medellin-2023-segundo-semestre/" target="_blank" class="btn btn-primary">Leer más...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card m-4" style="width: 22rem; ">
            <img src="https://www.despacio.org/wp-content/uploads/2021/12/DecenioSeguridadVial-1024x683.jpg" class="card-img-top" alt="..." style="width: 22rem; height: 25rem;">
            <div class="card-body">
                <h5 class="card-title">Precaución en la vía</h5>
                <h6 class="card-subtitle mb-2 text-muted">Plan de seguridad vial de la OMS</h6>
                <br />
                <p class="card-text">Conoce los por menores del plan de seguridad vial de la Organización Mundial de la Salud. </p>
                <a href="https://www.paho.org/es/temas/seguridad-vial" target="_blank" class="btn btn-primary">Leer más...</a>
            </div>
        </div>
    </div>  
</div>

@code {
    private bool arrows = false;
    private bool bullets = false;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}


